<h1></h1>
<hr />
<h2>Appointments <%= @patient.name %></h2>
Patient ID: <%= @patient.id %>

<% @appointments.each do |a| %>

  <% doctor = a.physician_id %>
  <% doctor2 = Physician.find(doctor) %>
  <%= doctor2.name %>
  <%= a.appointment_date %>
<% end %>
<% %>
<% %>

 
<%= link_to 'Delete User', @patient, method: :delete, class: 'ui red button' %>

